<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/estilo.css" media="screen" />
    </head>
    <body>
        <div id="corpo">
            
            <div id="topo">
                <header>
                    <nav>
                        <a href="http://localhost/php_MVC/">HOME</a>
                        <a href="http://localhost/php_MVC/?pagina=sobre">SOBRE</a>
                        <a href="http://localhost/php_MVC/?pagina=admin&metodo=index" class="flutuacao-dir">ADMIN</a>
                    </nav>
            </header>
            </div>

            <div id="conteudo">
                {{area_dinamica}}
            </div>

        </div>
    </body>
</html>